name: test
on:
  push:
    branches:
      - master
      - main
      - "mongo-refactor"
    tags:
      - '*'
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ['3.7', '3.8', '3.9', '3.10']
        mongodb-version: ['4.2', '4.4', '5.0', '6.0']

    steps:
    - name: Git checkout
      uses: actions/checkout@v3

    - name: Set up python3 ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Start MongoDB
      uses: supercharge/mongodb-github-action@1.8.0
      with:
        mongodb-version: ${{ matrix.mongodb-version }}

    - name: Install requirements
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade setuptools wheel setuptools-scm[toml] importlib-metadata
        pip install flake8 pytest pytest-cov
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        pip install .
        pip list

    - name: Install search and retrieve plugins
      run: | 
        # This should move into the strategy matrix once released 
        pip install git+https://github.com/jotelha/dtool-lookup-server-search-plugin-mongo.git@main
        pip install git+https://github.com/jotelha/dtool-lookup-server-retrieve-plugin-mongo.git@main

    - name: Test with pytest
      run: |
        pytest -sv
