name: test

on:
  push:
    branches:
      - main
      - master
    tags:
      - '*'
  pull_request:

  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ['3.7', '3.8', '3.9', '3.10', '3.11', '3.12']
        mongodb-version: ['4.2', '4.4', '5.0', '6.0']

    steps:
    - name: checkout
      uses: actions/checkout@v4

    - name: set up python3 ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: start MongoDB
      uses: supercharge/mongodb-github-action@1.11.0
      with:
        mongodb-version: ${{ matrix.mongodb-version }}

    - name: install requirements
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade setuptools wheel setuptools-scm[toml] importlib-metadata
        pip install flake8 pytest pytest-cov
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        pip install .
        pip list

    - name: install search and retrieve plugins
      run: | 
        # This should move into the strategy matrix once released 
        pip install git+https://github.com/jic-dtool/dserver-search-plugin-mongo.git@main
        pip install git+https://github.com/jic-dtool/dserver-retrieve-plugin-mongo.git@main

    - name: test with pytest
      run: |
        pytest -sv

    - name: lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics